
img {width: 350px; max-width: 100%;
    height: 200px;
    border-radius:1px;
    filter : opacity(50%); }
    img:hover {filter : opacity(130%)}
    
body {background-color: var(--color-bg);display:flex; flex-direction: column; text-align: center;}

.container3 { display:flex; border: 10px; width: 70% auto; padding:20px auto; flex-wrap: wrap; }
.container2{ display: flex; width: 90% auto; flex-wrap: wrap; }
.box {flex:90; margin: 1%; background-color:  var(--color-box); border-radius: 10px;}
.cox {flex:90; margin: 1%; border: 5px; }

:root {
    --color-1:rgb(233, 225, 230);
    --color-2: hsl(0, 25%, 65%);
    --color-3: rgb(162, 32, 91);
    --color-4: rgb(253, 255, 207);
    --color-5: rgba(79, 17, 48, 0.697);
    --color-1t: rgba(213, 195, 206, 0.265);
    --color-5t: rgba(79, 17, 48, 0.697);
    --color-bg: rgb(65, 8, 51);
    --color-box:  rgba(49, 41, 46, 0.34);}


.icon {font-size: 500%; margin: 10%;  color:var(--color-4); display: flexbox; text-align: left;}
.icon:hover {transform: scale(1.1);}
.icon2 {font-size: 300%; margin: 1%;  color:var(--color-4);}
.icon2:hover {transform: scale(1.3);}


/* títulos */
h1 {font-size:7vmin;
    color: var(--color-4);
    text-transform: lowercase;
    text-align: center;
    text-transform:uppercase;
    font-family: "Abel", sans-serif}

/* títulos de resultados */
h2 {font-size: 7vmin; 
    color: var(--color-3);
    filter: opacity(70%);
    text-transform: lowercase;
    .kanit-extralight {font-family: "Kanit", sans-serif; 
    font-weight: 200;
    font-style: normal;}
    }

    h2:hover {filter: opacity(100%) } 

/* números de resultados */
h3 {font-size: 7vmin; 
    color: var(--color-2);
    text-transform: uppercase;
    .kanit-regular {font-family: "Kanit",
    sans-serif;
    font-weight: 400;
    font-style: normal; text-align:center; background-color: var(--color-1t);border-radius: 10px;}}

/* botões */  
h4 {font-size: 150% auto; 
    color:var(--color-4);
    text-transform:lowercase; .abel-regular
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: var(--color-3);
    border-radius:40px;
    margin: 3% 7% auto;
    min-width: 65%;
    height:65% auto;
    filter: opacity(80%);}

    h4:hover {transform: scale(1.1); filter: opacity(120%) } 

/* selecionar outros meses*/
h5 {font-size: 7vmin; 
    color: var(--color-4); 
    font-weight:400;
    text-align:center;}

h6 {font-size: 7vmin; 
    color: var(--color-1);
    text-transform: uppercase;
    .kanit-regular {font-family: "Kanit",
    sans-serif;
    font-weight: 400;
    font-style: normal; text-align:center; background-color: var(--color-1t);border-radius: 10px;}}

/* mês selecionado */
h7 {font-size: 7vmin; 
    color: var(--color-4);
    font-weight:800;
    text-align:center}

/* contexto */
h8 {font-size: 7vmin; 
    color: var(--color-4);
    text-transform: uppercase; 
    .kanit-extralight {font-family: "Kanit", sans-serif;
    font-weight: 200; 
    font-style: normal;
    text-align:center;}}


h2::selection  {color: rgb(253, 255, 207)}
h3::selection {background-color:rgb(253, 255, 207); color: rgba(79, 17, 48, 0.697)}
h4::selection  {color: rgba(79, 17, 48, 0.697)}
h5::selection  {background-color:rgb(253, 255, 207); color: rgba(79, 17, 48, 0.697)}
h6::selection  {background-color:rgb(253, 255, 207); color: rgba(79, 17, 48, 0.697)}
h7::selection  {background-color:rgb(253, 255, 207); color: rgba(79, 17, 48, 0.697)}
h8::selection  {background-color:rgb(253, 255, 207); color: rgba(79, 17, 48, 0.697)}
h1::selection  {background-color:rgb(253, 255, 207); color: rgba(79, 17, 48, 0.697)}
div::selection {background-color:rgb(253, 255, 207); color: rgba(79, 17, 48, 0.697)}
img::selection {color: white}
